:root {
  --background-color: #e5e5e5;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --button-hover-color: #2196f3;
  --button-hover-text-color: #ffffff;
  --button-background-color: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid #000000;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.current {
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-color);
}

.button:hover, .button:focus {
  color: var(--button-hover-text-color);
  background-color: #188ce8;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--button-hover-text-color);
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--button-hover-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--button-hover-color);
}

.logo-web-header {
  color: var(--button-hover-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.logo-studio-header {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.link-logo-header {
  margin-right: 93px;
}

.footer-logo-studio {
  color: var(--button-hover-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  display: flex;
  padding: 40px 40px;
  height: 581px;
  width: 521px;
  background-color: var(--button-hover-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14), 3px 0px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(226, 8, 8, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button:hover .icon-close,
.close-modal-button:focus .icon-close {
  fill: var(--button-hover-color);
}

.icon-close:hover, .icon-close:focus {
  fill: var(--button-hover-color);
}

.modal-form-name {
  margin-bottom: 10px;
  position: relative;
}

.modal-form__span {
  position: relative;
  outline: none;
}

.icon-modal {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal:hover, .icon-modal:focus {
  fill: var(--button-hover-color);
}

.modal-form__span:hover .icon-modal,
.modal-form__span:focus .icon-modal {
  fill: var(--button-hover-color);
}

.modal-form-phone {
  margin-bottom: 10px;
}

.modal-form-mail {
  margin-bottom: 10px;
}

.modal-form-comment {
  margin-bottom: 20px;
}

.modal-form-agreement {
  margin-bottom: 30px;
}

.modal-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-modal {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.input-modal:hover, .input-modal:focus {
  border: 1px solid #2196f3;
}

.modal-form__span:hover .input-modal,
.modal-form__span:focus .input-modal {
  border: 1px solid #2196f3;
}

.modal-form-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.textarea-modal {
  width: 448px;
  height: 120px;
  margin-top: 4px;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  outline: none;
}

.textarea-modal:hover, .textarea-modal:focus {
  border: 1px solid #2196f3;
}

.modal-form__label {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

.input-button-modal {
  width: 200px;
  height: 50px;
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
  border-radius: 4px;
  outline: none;
}

.accept-agreement {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  justify-content: center;
}

.accept-agreement-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--button-hover-color);
  outline: none;
}

.label-accept-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .accept-agreement .label-accept-check {
  background-color: var(--button-hover-color);
  border: none;
  box-shadow: none;
}

.social-address {
  margin-left: 70px;
}

.address-list {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

.address-title {
  color: var(--button-hover-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  justify-content: center;
  margin-bottom: 20px;
}

.address-list__item {
  width: 44px;
  height: 44px;
}

.address-list__item + .address-list__item {
  margin-left: 10px;
}

.address-list__link {
  background-color: #44454e;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus {
  background-color: var(--button-hover-color);
}

.address-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--button-hover-text-color);
}

.address-list__link:hover .address-list__icon,
.address-list__ink:focus .address-list__icon {
  fill: var(--button-hover-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.page-header {
  padding-left: 0;
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.all-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.nav-list__item + .nav-list__item {
  margin-left: 50px;
}

.nav-list__link {
  position: relative;
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--button-hover-color);
}

.nav-list__link--current {
  display: block;
  color: var(--button-hover-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list__link--current::after {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--button-hover-color);
  content: "";
  position: absolute;
  bottom: -1px;
}

.hero-list {
  list-style: none;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Imgmin.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-list__title {
  color: var(--button-hover-text-color);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 30px;
  margin-top: 0px;
  min-width: 696px;
}

.hero-list__button {
  display: block;
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #000000;
  margin: 0 auto;
  padding: 10px 32px 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-list__button.hero-list__button--current {
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-color);
}

.hero-list__button:hover, .hero-list__button:focus {
  background-color: #188ce8;
}

.contacts-list {
  display: flex;
  list-style: none;
  font-style: normal;
  padding-left: 0px;
  margin-left: auto;
  align-items: center;
}

.contacts-list__item + .contacts-list__item {
  margin-left: 50px;
}

.contacts-list .contact {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list .contact:hover, .contacts-list .contact:focus {
  color: var(--button-hover-color);
}

.contacts-list .contact.current {
  color: var(--button-hover-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-list .contact.link {
  display: flex;
  padding-bottom: 32px;
  padding-top: 32px;
  align-items: center;
}

.contacts-list .contacts-list-adress {
  color: var(--button-hover-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list .contacts-list-adress:hover, .contacts-list .contacts-list-adress:focus {
  color: var(--button-hover-color);
}

.icon-phone {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover .icon-phone,
.contact:focus .icon-phone {
  fill: var(--button-hover-color);
}

.icon-mail {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover .icon-mail,
.contact:focus .icon-mail {
  fill: var(--button-hover-color);
}

.filter-list-all {
  background-color: #ffffff;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  margin-bottom: 50px;
}

.filter-list-all .item + .item {
  margin-left: 8px;
}

.filter-list-all .button {
  color: var(--primary-text-color);
  background-color: var(--button-background-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: #f5f4fa;
  padding: 6px 22px 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-all .button:hover, .filter-list-all .button:focus {
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-list-all .button.current {
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding-left: 0px;
}

.project-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-list .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list .item:hover, .project-list .item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-list .item:hover .project-card-text,
.project-list .item:focus .project-card-text {
  transform: translateY(0%);
}

.project-list .project-list-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .project-list-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project-card-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding: 24px 63px 24px 63px;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--button-hover-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .project-card-text {
  transform: translateY(0%);
}

.advantage-list {
  list-style: none;
  display: flex;
  padding-left: 0px;
  margin: 0 auto;
}

.advantage-list__item {
  width: 270px;
}

.advantage-list__item + .advantage-list__item {
  margin-left: 30px;
}

.advantage-list__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.advantage-list__text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
}

.icon-container {
  display: flex;
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.work {
  padding-top: 0px;
  padding-bottom: 94px;
}

.work-list {
  list-style: none;
  display: flex;
  padding-left: 0px;
  margin-top: 50px;
  z-index: 0;
}

.work-list .work-list__item {
  width: 370px;
  position: relative;
}

.work-list__overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 00.03em;
  color: var(--button-hover-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 0;
}

.work-list .work-list__item + .work-list__item {
  margin-left: 30px;
}

.work-title {
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.17;
  font-weight: 700;
  font-size: 36px;
  color: var(--primary-text-color);
}

.all-team {
  background-color: var(--button-background-color);
  margin-right: auto;
  margin-left: auto;
}

.all-team__title {
  text-align: center;
  line-height: 1.17;
  font-weight: 700;
  font-size: 36px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.team-list {
  list-style: none;
  display: flex;
  padding-left: 0px;
  margin-top: 50px;
  justify-content: center;
}

.team-list__item + .team-list__item {
  margin-left: 30px;
}

.team-list__name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list__description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 16px;
}

.team-list__content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  padding: 30px 32px 30px 32px;
  background-color: var(--button-hover-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.client-list {
  display: flex;
  padding-left: 0px;
}

.client-title {
  text-align: center;
  line-height: 1.17;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
}

.client-list__item {
  width: 170px;
  height: 92px;
}

.client-list__item + .client-list__item {
  margin-left: 30px;
}

.client-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover, .client-list__link:focus {
  border-color: var(--button-hover-color);
}

.client-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__icon:focus, .client-list__icon:hover {
  fill: var(--button-hover-color);
}

.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  border-color: var(--button-hover-color);
  fill: var(--button-hover-color);
}

.all-footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.all-footer .container {
  display: flex;
  align-items: baseline;
}

.all-footer .contacts-list {
  margin-top: 20px;
}

.contacts-footer {
  list-style: none;
  padding-left: 0px;
}

.contacts-footer .contacts-list__item + .contacts-list__item {
  margin-top: 9px;
  margin-left: 0px;
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer:hover, .contact-footer:focus {
  color: var(--button-hover-color);
}

.footer-flex {
  display: flex;
  justify-content: center;
}

.contact-form {
  position: relative;
  width: 570px;
  min-height: 86px;
  margin: 0 auto;
}

.input-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: none;
}

.input-button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
  border-radius: 4px;
}

.icon-send {
  display: block;
  margin-left: 10px;
  fill: var(--button-hover-text-color);
}

.text-for-input {
  color: var(--button-hover-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}
/*# sourceMappingURL=main.css.map */