.advantage-list {
    list-style: none;
    display: flex;
    padding-left: 0px;
    margin: 0 auto;
  }
  
   .advantage-list__item {
    width: 270px;}
  
  
  .advantage-list__item + .advantage-list__item {
    margin-left: 30px;}
  
  
  .advantage-list__title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;}
  
  
    .advantage-list__text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 10px;}
  
  .icon-container {
    display: flex;
    height: 120px;
    width: 270px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
 