
.hero-list {
    list-style: none;
    text-align: center;
    
    padding: 118px 60px 118px 60px;
    
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/Imgmin.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-list__title {
    color: var(--button-hover-text-color);
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-align: center;
    line-height: calc(42 / 26);
    margin-bottom: 30px;
    margin-top: 0px;
    text-transform: uppercase;
    
  
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }
  .hero-list__button {
    display: block;
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 10px 32px 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  &.hero-list__button--current {
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-color);
  }
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  }
  
 