.project-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    padding-left: 0px;
  }
  
  .project-content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }
  .project-list .item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &:hover .project-card-text,
    &:focus .project-card-text {
      transform: translateY(0%);
    }
  }
  

  .project-list {
    .project-list-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;}
  }
  .project-list {
    .project-list-text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-top: 4px;}
  }
  
  .project-card {
    position: relative;
    overflow: hidden;
    
  }
  
  
  .project-card-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    padding: 24px 63px 24px 63px;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--button-hover-text-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .project-card:hover & {
      transform: translateY(0%);
    }
  }