.contact-form {
  position: relative;
  width: 300px;
  min-height: 156px;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    width: 570px;

    min-height: 86px;
  }
}
.input-form {
  position: absolute;
  top: 36px;
  left: 0;
  width: 290px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  margin-right: 11px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: none;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
    left: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    bottom: 0;
    left: 0;
  }
}
.input-button {
  position: absolute;
  bottom: 0;
  right: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    right: 30%;
  }
  @media screen and (min-width: 768px) {
    left: 100px;
  }
  @media screen and (min-width: 1200px) {
    bottom: 0;
    right: 0;
    left: unset;
  }
}
.icon-send {
  display: block;
  margin-left: 10px;
  fill: var(--button-hover-text-color);
}
.text-for-input {
  color: var(--button-hover-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
