.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: visible;
    &.modal {
      transform: translate(-50%, -50%) scale(1.5);
    }
  }
  
  
  .modal {
    display: flex;
    padding: 40px 40px;
    height: 581px;
    width: 521px;
    background-color: var(--button-hover-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14),
      3px 0px 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  
  .close-modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(226, 8, 8, 0.1);
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .icon-close,
    &:focus .icon-close {
    fill: var(--button-hover-color);
  }
  }
  
  .icon-close {
  &:hover,
  &:focus {
    fill: var(--button-hover-color);}
  }
  
  