.social-address {
    margin-left: 70px;
  }
  .address-list {
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
  
  .address-title {
    color: var(--button-hover-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    justify-content: center;
    margin-bottom: 20px;
  }
  .address-list__item {
    width: 44px;
    height: 44px;
  }
  .address-list__item + .address-list__item {
    margin-left: 10px;
  }
  .address-list__link {
    background-color: #44454e;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--button-hover-color);
    }
  }
  
  .address-list__icon {
    width: 20px;
    height: 20px;
    fill: var(--button-hover-text-color);
    .address-list__link:hover &,
    .address-list__ink:focus & {
    fill: var(--button-hover-text-color);
  }
  }