body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
  }
  h1,
  h2,
  h3 {
    margin: 0;
  }
  ul {
    margin: 0;
    list-style: none;
  }
  p {
    margin: 0;
  }
  img {
    display: block;
    max-width: 100%;
  }
  .link {
    text-decoration: none;
  }