:root {
    --background-color: #e5e5e5;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --button-hover-color: #2196f3;
    --button-hover-text-color: #ffffff;
    --button-background-color: #f5f4fa;
  }